﻿@model LoginModel
@{
    ViewBag.Title = "Log In";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
        fieldset > .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
        #form {
            max-width: 350px;
            margin-top: 21em;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column" id="form">
            <h2 class="ui teal image header">
                <div class="content">
                    Log-in to your account
                </div>
            </h2>
            <form class="ui large form" asp-action="Login" asp-controller="Account" method="post">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input asp-for="Name" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input asp-for="Password" />
                        </div>
                    </div>
                    <button class="ui fluid large teal submit button" type="submit">Login</button>
                </div>

                <div class="ui error message"></div>

                <div asp-validation-summary="All"></div>
            </form>
        </div>
    </div>
</body>
</html>