﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
        fieldset > .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
        .grid.container{
            margin-bottom: 1em;
        }
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div class="ui pointing menu">
        <a class="item @(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? " active" : "")" asp-action="Index" asp-controller="Home">
            Email Receivers
        </a>
        <a class="item @(ViewContext.RouteData.Values["controller"].ToString() == "Whois" ? " active" : "")" asp-action="Index" asp-controller="Whois">
            Whois
        </a>
        <div class="right menu">
            <a class="item" asp-action="Logout" asp-controller="Account">Log Out</a>
        </div>
    </div>
    <div class="ui segment">
        @if (TempData["message"] != null)
        {
            <div class="ui positive message">
                <i class="close icon"></i>
                <div class="header">
                    @TempData["message"]
                </div>
            </div>
        }
        <h1 class="ui header">@ViewBag.Title</h1>
        @RenderBody()
    </div>
    <script>
        window.onload = function () {
            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .fadeOut()
                });
        }
    </script>
</body>
</html>
