﻿@model EmailReceiver
@{ 
    ViewBag.Title = "Edit Email Receiver";
}

<form novalidate asp-action="Edit" method="post" class="ui form @(!ViewContext.ViewData.ModelState.IsValid ? "error" : "")">
    <div asp-validation-summary="All" class="ui error message"></div>
    <input type="hidden" asp-for="ID" />
    <div class="field">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <button class="ui button" type="submit">Save</button>
    <a asp-action="Index" class="ui btn secondary">Cancel</a>
</form>