﻿@model IEnumerable<EmailReceiver>

@{ 
    ViewBag.Title = "Mail Receivers List";
}
<table class="ui celled table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receiver in Model)
        {
            <tr>
                <td>@receiver.ID</td>
                <td>@receiver.Email</td>
                <td>
                    <form asp-action="Delete" method="post" style="text-align: center;">
                        <input type="hidden" name="ID" value="@receiver.ID" />
                        <a class="ui button" asp-action="Edit"
                            asp-route-id="@receiver.ID">Edit</a>
                        <button class="ui button red" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="ui button" asp-action="Create">Create</a>
