﻿@model IEnumerable<Whois>

@{
    ViewBag.Title = "Whois List";
}
<form novalidate enctype="multipart/form-data" asp-action="PostFile" method="post">
    <div class="ui middle aligned center aligned grid container">
        <div class="ui fluid segment">
            <button type="submit" class="ui right floated button">Upload</button>
            <input type="file" (change)="fileEvent($event)" name="file" class="inputfile" id="embedpollfileinput" />

            <label for="embedpollfileinput" class="ui green right floated button">
                <i class="ui upload icon"></i>
                File
            </label>
        </div>

    </div>
</form>
<table class="ui celled table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Registered</th>
            <th>Disclaimer</th>
            <th>Registry Domain Id</th>
            <th>Registrar Iana Id</th>
            <th>Created</th>
            <th>Expires</th>
            <th>Updated</th>
            <th>Domain Name</th>
            <th>ScreenshotId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var whois in Model)
        {
            <tr>
                <td>@whois.ID</td>
                <td>@whois.Registered</td>
                <td>@whois.Disclaimer</td>
                <td>@whois.RegistryDomainId</td>
                <td>@whois.RegistrarIanaId</td>
                <td>@whois.DateCreated</td>
                <td>@whois.DateExpires</td>
                <td>@whois.DateUpdated</td>
                <td>@whois.DomainName</td>
                <td><embed src="/Whois/Screenshot/@whois.ScreenshotId" /></td>
            </tr>
        }
    </tbody>
</table>
